<template>
  <div class="login">
    <h1>AGREGAR USUARIO</h1>
    <form @submit.prevent="procesarFormulario">
      <span>Nombres</span>
      <input
        type="text"
        tabindex="1"
        placeholder="Ingrese el nombre"
        v-model.trim="usuario.nombre"
      />

      <span>Email</span>
      <input
        type="email"
        tabindex="2"
        placeholder="Ingrese el correo"
        v-model.trim="usuario.correo"
      />

      <span>Nombre Usuario</span>
      <input
        type="text"
        tabindex="3"
        placeholder="Ingrese el nombre de usuario"
        v-model.trim="usuario.username"
      />
      
      <span>Contraseña</span>
      <input
        type="password"
        tabindex="3"
        placeholder="Ingrese la contraseña"
        v-model.trim="usuario.password"
      />

      <button
        type="submit"
        class="btn btn-primary btn-block btn-large"
        :disabled="bloquear"
      >
        Guardar
      </button>

      <br/>

      <router-link
      to="/"
      style="text-decoration: none; color: inherit"
    >
      <button type="button" class="btn btn-primary btn-block btn-large">
        Regresar
      </button>
    </router-link>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      usuario: {
        nombre: "",
        correo: "",
        username: "",
        password: ""
      },
    };
  },
  methods: {
    ...mapActions(["setUsuarios"]),

    procesarFormulario() {
      console.log(this.usuario);

      // envian los datos
      this.setUsuarios(this.usuario);

      // limpiar datos
      this.usuario = {
        nombre: "",
        correo: "",
        username: "",
        password: ""
      };
    },
  },

  computed: {
    bloquear() {
      return this.usuario.nombre.trim() === "" ? true : false;
    },
  },
};
</script>