<template>
  <div class="login">
    <h1>MENU PRINCIPAL</h1>

    <router-link
      to="/partidos_crear"
      style="text-decoration: none; color: inherit"
    >
      <button type="button" class="btn btn-primary btn-block btn-large">
        Registrar Partido
      </button>
    </router-link>

    <br />

    <router-link
      to="/partidos_listar"
      style="text-decoration: none; color: inherit"
    >
      <button type="button" class="btn btn-primary btn-block btn-large">
        Ver Partidos
      </button>
    </router-link>
  </div>
</template>

<script>
export default {};
</script>