<template>
  <div class="login">
    <h1>CREAR PARTIDO</h1>
    <form @submit.prevent="procesarFormulario">
      <span>Fecha Partido</span>
      <input type="date" tabindex="1" v-model.trim="partido.fecha" />

      <span>Equipo Local</span>
      <select v-model="partido.local" tabindex="2">
        <option disabled value="">Seleccione un equipo</option>
        <option
          v-for="obj in arrayEquiposLocal"
          v-bind:value="obj.id"
          :key="obj.id"
        >
          {{ obj.nombre }}
        </option>
      </select>

      <span>Equipo Visitante</span>
      <select v-model="partido.visitante" tabindex="3">
        <option disabled value="">Seleccione un equipo</option>
        <option
          v-for="obj2 in arrayEquiposVisitante"
          v-bind:value="obj2.id"
          :key="obj2.id"
        >
          {{ obj2.nombre }}
        </option>
      </select>

      <span>Goles Equipo Local</span>
      <input
        type="number"
        tabindex="4"
        placeholder="Ingrese los goles"
        v-model.trim="partido.golesLocal"
      />

      <span>Goles Equipo Visitante</span>
      <input
        type="number"
        tabindex="5"
        placeholder="Ingrese los goles"
        v-model.trim="partido.golesVisitante"
      />

      <button
        type="submit"
        class="btn btn-primary btn-block btn-large"
        :disabled="bloquear"
      >
        Guardar
      </button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      partido: {
        fecha: "",
        local: "",
        visitante: "",
        golesLocal: "",
        golesVisitante: "",
        usuario: "1",
      },

      arrayEquiposLocal: [],
      arrayEquiposVisitante: [],
    };
  },
  methods: {
    ...mapActions(["setPartidos"]),

    async consumirEquipos() {
      try {
        const data = await fetch(
          `http://localhost:8990/ciclo3Backendx/serviciosMintic/misEquipos`
        );
        const array = await data.json();
        console.log(array);
        this.arrayEquiposLocal = array;
        this.arrayEquiposVisitante = array;
      } catch (error) {
        console.log(error);
      }
    },

    procesarFormulario() {
      console.log(this.partido);

      // envian los datos
      this.setPartidos(this.partido);

      // limpiar datos
      this.partido = {
        fecha: "",
        local: "",
        visitante: "",
        golesLocal: "",
        golesVisitante: "",
      };
    },
  },

  computed: {
    bloquear() {
      return this.partido.fecha.trim() === "" ? true : false;
    },
  },

  created() {
    this.consumirEquipos();
  },
};
</script>