<template>
  <div class="login">
    <h1>AGREGAR GOLES</h1>
    <form @submit.prevent="procesarFormulario">
      <span>Goles Equipo Local </span>
      <input
        type="number"
        tabindex="4"
        placeholder="Ingrese los goles"
        v-model.trim="partido.golesLocal"
      />

      <span>Goles Equipo Visitante </span>
      <input
        type="number"
        tabindex="5"
        placeholder="Ingrese los goles"
        v-model.trim="partido.golesVisitante"
      />

      <button type="submit" class="btn btn-primary btn-block btn-large">
        Guardar
      </button>
    </form>
  </div>
</template>

<script>
import router from "../../router";

export default {
  data() {
    return {
      filaPartido: [],

      partido: {
        id: "",
        usuario: "",
        local: "",
        visitante: "",
        fecha: "",
        golesLocal: "",
        golesVisitante: "",
      },
    };
  },

  methods: {
    async consumirFilaPartido() {
      try {
        const idPartido = this.$route.params.id;
        const data = await fetch(
          `http://localhost:8990/ciclo3Backendx/serviciosMintic/partidos/${idPartido}`
        );
        const array = await data.json();
        console.log(array);
        this.filaPartido = array;
        this.partido.id = this.filaPartido.id;
        this.partido.usuario = this.filaPartido.usuario.id;
        this.partido.local = this.filaPartido.local.id;
        this.partido.visitante = this.filaPartido.visitante.id;
        this.partido.fecha = this.filaPartido.fecha;
      } catch (error) {
        console.log(error);
      }
    },

    async procesarFormulario() {
      try {
        const idPartido = this.$route.params.id;
        const res = await fetch(
          `http://localhost:8990/ciclo3Backendx/serviciosMintic/partidos/${idPartido}`,
          {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(this.partido),
          }
        );
        const dataDB = await res.json();
        console.log(dataDB);
      } catch (error) {
        console.log(error);
      }
      router.push("/partidos_listar");
    },
  },

  created() {
    this.consumirFilaPartido();
  },
};
</script>