<template>
  <div class="login">
    <h1>LISTADO DE PARTIDOS</h1>

    <table class="products-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Local</th>
          <th>Goles</th>
          <th>Visitante</th>
          <th>Goles</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in arrayPartidos" :key="item.id">
          <td data-label="Product">{{ item.fecha }}</td>
          <td data-label="Growth Plan">{{ item.local.nombre }}</td>
          <td data-label="Started Plan">{{ item.golesLocal }}</td>
          <td data-label="Started Plan">{{ item.visitante.nombre }}</td>
          <td data-label="Started Plan">{{ item.golesVisitante }}</td>
          <td data-label="Started Plan">
            <router-link
              class="btn btn-warning ml-2 btn-sm"
              :to="{
                name: 'PartidosEditar',
                params: {
                  id: item.id,
                },
              }"
            >
              Agregar Goles
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>

    <router-link to="/dashboard" style="text-decoration: none; color: inherit">
      <button type="button" class="btn btn-primary btn-block btn-large">
        MENU PRINCIPAL
      </button>
    </router-link>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      arrayPartidos: [],
    };
  },

  methods: {
    async consumirPartidos() {
      try {
        const data = await fetch(
          `http://localhost:8990/ciclo3Backendx/serviciosMintic/partidos`
        );
        const array = await data.json();
        console.log(array);
        this.arrayPartidos = array;

        var indice = 0;
        this.arrayPartidos.forEach(element => {
          var valorFecha = element.fecha;
          var formato = new Date(valorFecha);
          var fechaFinal = formato.getDate() + '/' + (formato.getMonth() + 1) + '/' + formato.getFullYear();
          this.arrayPartidos[indice].fecha = fechaFinal;
          indice = indice + 1;
        });
      } catch (error) {
        console.log(error);
      }
    },
  },

  created() {
    this.consumirPartidos();
  },
};
</script>

<style>
</style>