<template>
  <div class="login">
    <h1>INTRANET CAMPEONATO</h1>
    <form>
      <input type="text" name="u" placeholder="Usuario" required="required" />
      <input
        type="password"
        name="p"
        placeholder="Contraseña"
        required="required"
      />
      <button type="submit" class="btn btn-primary btn-block btn-large">
        Ingresar
      </button>
      <br />
      <router-link to="/registro" style="text-decoration: none; color: inherit">
        <button type="button" class="btn btn-primary btn-block btn-large">
          Regístrese
        </button>
      </router-link>
      <br/>
      <router-link to="/dashboard" style="text-decoration: none; color: inherit">
        <button type="button" class="btn btn-primary btn-block btn-large">
          Menu Principal
        </button>
      </router-link>
    </form>
  </div>
</template>

<script>
export default {
  name: "Login",
  props: {
    msg: String,
  },
};
</script>